<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.manage.mapper.EnrollPlanMapper">
    
    <resultMap type="EnrollPlan" id="EnrollPlanResult">
        <result property="planId"    column="plan_id"    />
        <result property="planYear"    column="plan_year"    />
        <result property="spId"    column="sp_id"    />
        <result property="spName"    column="sp_name"    />
        <result property="stuDeptId"    column="stu_dept_id"    />
        <result property="stuDeptName"    column="stu_dept_name"    />
        <result property="spLength"    column="sp_length"    />
        <result property="subjectSortId"    column="subject_sort_id"    />
        <result property="subjectSortName"    column="subject_sort_name"    />
        <result property="provinceCode"    column="province_code"    />
        <result property="provinceName"    column="province_name"    />
        <result property="provinceNameShort"    column="province_name_short"    />
        <result property="planNum"    column="plan_num"    />
        <result property="tuitionFee"    column="tuition_fee"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectEnrollPlanVo">
        select plan_id, plan_year, sp_id, sp_name, stu_dept_id, stu_dept_name, sp_length, subject_sort_id, subject_sort_name, province_code, province_name, province_name_short, plan_num, tuition_fee, create_by, create_time, update_by, update_time, remark from stu_enroll_plan
    </sql>

    <select id="selectEnrollPlanList" parameterType="EnrollPlan" resultMap="EnrollPlanResult">
        <include refid="selectEnrollPlanVo"/>
        <where>  
            <if test="planId != null  and planId != ''"> and plan_id = #{planId}</if>
            <if test="planYear != null  and planYear != ''"> and plan_year = #{planYear}</if>
            <if test="spId != null  and spId != ''"> and sp_id = #{spId}</if>
            <if test="spName != null  and spName != ''"> and sp_name like concat('%', #{spName}, '%')</if>
            <if test="stuDeptName != null  and stuDeptName != ''"> and stu_dept_name like concat('%', #{stuDeptName}, '%')</if>
            <if test="subjectSortName != null  and subjectSortName != ''"> and subject_sort_name like concat('%', #{subjectSortName}, '%')</if>
            <if test="provinceName != null  and provinceName != ''"> and province_name like concat('%', #{provinceName}, '%')</if>
            <if test="planNum != null "> and plan_num = #{planNum}</if>
            <if test="tuitionFee != null "> and tuition_fee = #{tuitionFee}</if>
            <if test="createBy != null  and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and DATE_FORMAT(update_time, '%Y-%m-%d') between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
        </where>
    </select>
    
    <select id="selectEnrollPlanByPlanId" parameterType="String" resultMap="EnrollPlanResult">
        <include refid="selectEnrollPlanVo"/>
        where plan_id = #{planId}
    </select>

    <insert id="insertEnrollPlan" parameterType="EnrollPlan">
        insert into stu_enroll_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="planId != null">plan_id,</if>
            <if test="planYear != null">plan_year,</if>
            <if test="spId != null and spId != ''">sp_id,</if>
            <if test="spName != null">sp_name,</if>
            <if test="stuDeptId != null">stu_dept_id,</if>
            <if test="stuDeptName != null">stu_dept_name,</if>
            <if test="spLength != null">sp_length,</if>
            <if test="subjectSortId != null">subject_sort_id,</if>
            <if test="subjectSortName != null">subject_sort_name,</if>
            <if test="provinceCode != null">province_code,</if>
            <if test="provinceName != null">province_name,</if>
            <if test="provinceNameShort != null">province_name_short,</if>
            <if test="planNum != null">plan_num,</if>
            <if test="tuitionFee != null">tuition_fee,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="planId != null">#{planId},</if>
            <if test="planYear != null">#{planYear},</if>
            <if test="spId != null and spId != ''">#{spId},</if>
            <if test="spName != null">#{spName},</if>
            <if test="stuDeptId != null">#{stuDeptId},</if>
            <if test="stuDeptName != null">#{stuDeptName},</if>
            <if test="spLength != null">#{spLength},</if>
            <if test="subjectSortId != null">#{subjectSortId},</if>
            <if test="subjectSortName != null">#{subjectSortName},</if>
            <if test="provinceCode != null">#{provinceCode},</if>
            <if test="provinceName != null">#{provinceName},</if>
            <if test="provinceNameShort != null">#{provinceNameShort},</if>
            <if test="planNum != null">#{planNum},</if>
            <if test="tuitionFee != null">#{tuitionFee},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateEnrollPlan" parameterType="EnrollPlan">
        update stu_enroll_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="planYear != null">plan_year = #{planYear},</if>
            <if test="spId != null and spId != ''">sp_id = #{spId},</if>
            <if test="spName != null">sp_name = #{spName},</if>
            <if test="stuDeptId != null">stu_dept_id = #{stuDeptId},</if>
            <if test="stuDeptName != null">stu_dept_name = #{stuDeptName},</if>
            <if test="spLength != null">sp_length = #{spLength},</if>
            <if test="subjectSortId != null">subject_sort_id = #{subjectSortId},</if>
            <if test="subjectSortName != null">subject_sort_name = #{subjectSortName},</if>
            <if test="provinceCode != null">province_code = #{provinceCode},</if>
            <if test="provinceName != null">province_name = #{provinceName},</if>
            <if test="provinceNameShort != null">province_name_short = #{provinceNameShort},</if>
            <if test="planNum != null">plan_num = #{planNum},</if>
            <if test="tuitionFee != null">tuition_fee = #{tuitionFee},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where plan_id = #{planId}
    </update>

    <delete id="deleteEnrollPlanByPlanId" parameterType="String">
        delete from stu_enroll_plan where plan_id = #{planId}
    </delete>

    <delete id="deleteEnrollPlanByPlanIds" parameterType="String">
        delete from stu_enroll_plan where plan_id in 
        <foreach item="planId" collection="array" open="(" separator="," close=")">
            #{planId}
        </foreach>
    </delete>
</mapper>