<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.manage.mapper.StaticsMapper">

    <select id="getStaticsPie" resultType="com.lz.manage.model.statics.ro.StaticRo">
        select count(stu_enroll_id) as total, ${staticFiled} as name
        from stu_enroll_note
        where is_enroll = '1'
        group by name
    </select>
</mapper>